#header {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    border-bottom: 1px solid #d1d1d1;
    transform: translateZ(0);

    .w1366head {
        width: 1366px
    }

    .head {
        width: 100%;
        margin: 0; 
        position: relative;
        z-index: 103;
        height: 50px;  

        .head-logo {
            margin-left: 126px;
            display: block;
            height: 50px;
            width: 88px;
            background: url("../../images/douyu-logo.png") left center no-repeat;
        }

        .head-nav {
            padding: 10px 0 0 39px;
            height: 40px;
            position: relative;
            padding-left: 38px;

            &>li {
                font-size: 20px;
                line-height: 30px;
                width: 63px;
                height: 30px;
                margin: 0 8px;
                text-align: center;
                position: relative;

                &:hover {
                    a {
                        color: #ff630e;
                    }
                }

                &.current {
                    a{
                        color: #fff;
                        background: #ff630e;
                        border-radius: 3px;
                    }
                }

                &>a {
                    display: block;
                    color: #444;
                }

                &.assort {
                    &.open {
                        .a-pop{
                            display: block;
                        }
                    }
                    i {
                        position: absolute;
                        right: -12px;
                        top: 14px;
                        width: 9px;
                        height: 5px;
                        overflow: hidden;
                        padding: 0;
                        font-size: 0;
                        line-height: 0;
                        // background: url(../../res/com/assort-icon.png?20160628) no-repeat;
                        transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                        -webkit-transition: all .3s ease-in-out;
                    }

                    .a-pop{
                        padding: 10px 15px 12px;
                        width: 247px;
                        position: absolute;
                        right: -107px;
                        top: 40px;
                        display: none;
                        background: #fff;
                        border: 1px solid #ddd;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;

                        >li {
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            top: -9px;
                            right: 50%;
                            margin-right: -7px;
                        }

                        .a-list {
                            >h3 {
                                margin: 8px 0 4px;
                                color: #444;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 700;
                                font-family: "microsoft yahei";
                                text-align: left;
                            }
                            .btns {
                                width: 250px;
                                overflow: hidden;

                                li{
                                    float: left;
                                    padding: 0 3px 3px 0;

                                    a {
                                        display: block;
                                        padding: 0;
                                        width: 80px;
                                        height: 24px;
                                        background: #ececec;
                                        border: none;
                                        font-size: 12px;
                                        line-height: 24px;
                                        color: #797979;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-align: center;
                                        border-radius: 3px;

                                        &:hover {
                                            border: none;
                                            background: #f70;
                                            color: #FFF;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}